<div class="hear-from-the-guardian-app">
  <h1 class="header">
    Hear latest news titles from
    <img class="the-guardian-logo" src="../assets/images/the-guardian-logo.png" alt="The Guardian" width="230">
  </h1>
  <div class="news">
    <p class="news__error" *ngIf="error.length">
      An error occured: {{ error }}
    </p>
    <h5 class="news__header">Select from latest news:</h5>
    <select class="news__list" [(ngModel)]="selectedNews">
      <option *ngFor="let news of newsList">
        {{ news.webTitle }}
      </option>
    </select>
    <div class="news__actions">
      <button class="news__speech-title-button" (click)="speechTheSelectedNews()" *ngIf="!error.length">
        Speech selected title
      </button>
    </div>
  </div>
</div>